<div class="col-sm-10">
    <h2>Users:</h2>
    <ul>
        {{#each users}}
            <li>
                <a href="{{path}}">
                    {{username}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>
