<div class="col-sm-10">
    <h2>Node.js Express based Web Application</h2>
    <p>
        Web Application developped in the scope of Internet Programming course at ISEL.
        First we learned Node.js and Javascript basics.
        Then main concepts and principals of Web Architecture.
        Finally we are developing our Web application with the support
        of Express to automatize auxilliary features such as routing,
        HTTP headers parsing, body content parsing, etc.
    </p>
    <img src="todo.jfif">
</div>