<script src="/signup.js" type="text/javascript"></script>

<div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" id="inUsername">
</div>
<div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" id="inPassword">
</div>
<div>
    <button type="submit" class="btn btn-primary" id="btSignup">Signup</button>
    <button type="submit" class="btn btn-success" id="btLogin">Login</button>
</div>