<html>
    <head>
        <title>Tasky App</title>
        <!-- <link href="tasky.css" rel="stylesheet"> -->
        <!-- CSS only -->
        <link href="bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/users">Users</a>
            <a class="nav-link" href="/about">About</a>
        </nav>
        <div class="container">
            <h1>Tasky Web App</h1>
            <img src="todo.jfif">
        </div>
        <blockquote class="blockquote">
            <footer class="blockquote-footer">
                Copyright <a href="https://github.com/isel-leic-pi/PI-2122i-LEIC52D">ISEL Pi i52d
            </footer>
          </blockquote>
    </body>
</html>